.btn btn-primary {
    color: red;
    background-color: yellow;
    width: 200px;
}

button {
    color: red;
}

p {
    color: aqua;
    border: 10px solid black;
}

body {
    background-color: grey;
}